# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Prisma generated client
/prisma/dev.db
/src/generated/prisma/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# IDE settings
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Optional: exclude prisma migrations if you don't want to commit them
prisma/migrations/
package-lock.json
